<%-include("./includes/header.ejs") %>
  <link rel="stylesheet" href="/public/stylesheets/index.css">
  <article>
    <% votes.reverse() %>
    <div class="headerBtnGroup">
      <ul>
        <li>
          <button>전체 투표</button>
        </li>
        <li>
          <button>진행 중인 투표</button>
        </li>
        <li>
          <button>만료된 투표</button>
        </li>
      </ul>
    </div>
    <% if (votes.length === 0) { %>
      <h2>등록된 게시물이 없습니다.</h2>
    <% } else { %>
      <ul>
        <% for (const key in votes) {
            const creator = votes[key].userEmail.split("@")[0];
            const expirationDate = votes[key].voteExpirationDate.toISOString().split("T")[0];
        %>
          <li>
            <button onclick="location.href='/votings/<%= votes[key]._id %>'">
              <div class="votePostHeader">
                <h4 class="votePostTitle"><%= votes[key].voteTitle %> </h4>
                <span class="votePostCompleted"><%= votes[key].voteCompleted ? "완료" : "진행 중" %></span>
              </div>
              <div class="votePostContent">
                <span class="votePostCreator"><%= creator %> </span>
                <span class="votePostExpirationDate"><%= expirationDate %></span>
              </div>
            </button>
          </li>
        <% } %>
      </ul>
    <% } %>
  </article>
<%-include("./includes/footer.ejs") %>
