<%-include("./includes/header.ejs") %>
  <link rel="stylesheet" href="/public/stylesheets/showVoting.css">
  <article>
    <p class="pageTitle">Vote</p>
    <div class="vote">
      <div class="showVoteHeader">
        <div class="line">투표 주제</div>
        <p class="votePostTitle">
          <%= vote.voteTitle %>
        </p>
        <p class="creator">
          <%= creator %>
        </p>
      </div>
      <form action="/votings/<%= vote._id %>" method="post">
        <div class="formContainer">
          <div class="line"></div>
          <ul class="optionList">
            <% for (const option of vote.voteOptionList) { %>
              <li class="option">
                <div class="optionContent">
                  <% if (!vote.voteCompleted) { %>
                    <input
                      type="radio"
                      name="checkVote"
                      class="checkVote"
                      value="<%= option.voteContent %>"
                      required
                    >
                  <% } %>
                  <span class="votePostContent">
                    <%= option.voteContent %>
                  </span>
                </div>
                <span class="voteCount">
                  <%= option.voterList.length %>
                </span>
              </li>
            <% } %>
          </ul>
        </div>
        <div class="expirationDate">
          <%
            const expirationDate = vote.voteExpirationDate.toISOString().substring(0, 16);
          %>
          <input
            type="datetime-local"
            name="voteExpirationDate"
            class="votePostExpirationDate"
            value="<%= expirationDate %>"
            readonly
          >
        </div>
        <% if (!vote.voteCompleted) { %>
          <button type="submit" class="submitBtn">제출</button>
        <% } %>
      </form>
    </div>
    <div class="resultContainer">
      <%
        if (vote.voteCompleted || (isSameUser && !vote.voteCompleted)) {
      %>
        <div class="voteResult">
          [ <%= result[0] %> ]의 질문이 <%= result[1] %>표로 가장 많은 표를 얻었습니다.
        </div>
      <% } else { %>
        <div class="voteResult">
          투표가 만료되지 않아 결과를 보실 수 없습니다.
        </div>
      <% } %>
    </div>
    <button
      type="button"
      class="backBtn"
      onclick="location.href='/'"
    >
      취소
    </button>
    <%
      if (isSameUser) {
    %>
      <button
        type="submit"
        class="removeBtn"
        onclick="location.href='/votings/delete/<%= vote._id %>'"
      >
        삭제
      </button>
    <% } %>
  </article>
<%-include("./includes/footer.ejs") %>
