<%-include("./includes/header.ejs") %>
  <link rel="stylesheet" href="/public/stylesheets/newVoting.css">
  <article>
    <div class="vote">
      <div class="title">
        <input
        type="text"
        name="vote_title"
        class="vote-title"
        value="<%= vote.vote_title %>"
        >
      </div>
      <p class="creator"><%= userId %></p>
      <form action="/votings/<%= vote._id %>" method="post">
        <ul class="options">
          <% for (const option of vote.vote_options) { %>
            <li class="option">
              <% if (!vote.vote_completed) { %>
                <input
                  type="radio"
                  name="vote_checked"
                  class="vote-checked"
                  value="<%= option.vote_content %>"
                  required
                >
              <% } %>
              <span class="vote-content">
                <%= option.vote_content %>
              </span>
              <span><%= option.voter.length %></span>
            </li>
          <% } %>
        </ul>
        <% if (!vote.vote_completed) { %>
          <button type="submit" class="submit-btn">제출</button>
        <% } %>
      </form>
      <div class="expiration-date">
        <%
          const expirationDate = vote.vote_expiration_date.toISOString().substring(0, 16);
        %>
        <input
          type="datetime-local"
          name="vote_expiration_date"
          class="vote-expiration-date"
          value="<%= expirationDate %>"
          readonly
        >
      </div>
    </div>
    <button
      type="button"
      class="back-btn"
      onclick="location.href='/'"
    >
      취소
    </button>
    <%
      if (isSameUser) {
    %>
      <button
        type="submit"
        class="back-btn"
        onclick="location.href='/votings/delete/<%= vote._id %>'"
      >
        삭제
      </button>
    <% } %>
  </article>
<%-include("./includes/footer.ejs") %>
