<%-include("./includes/header.ejs") %>
  <link rel="stylesheet" href="/public/stylesheets/newVoting.css">
  <article>
    <div class="vote">
      <div class="title">
        <input
        type="text"
        name="voteTitle"
        class="votePostTitle"
        value="<%= vote.voteTitle %>"
        >
      </div>
      <p class="creator"><%= userId %></p>
      <form action="/votings/<%= vote._id %>" method="post">
        <ul class="optionList">
          <% for (const option of vote.voteOptionList) { %>
            <li class="option">
              <% if (!vote.voteCompleted) { %>
                <input
                  type="radio"
                  name="checkVote"
                  class="checkVote"
                  value="<%= option.voteContent %>"
                  required
                >
              <% } %>
              <span class="votePostContent">
                <%= option.voteContent %>
              </span>
              <span><%= option.voterList.length %></span>
            </li>
          <% } %>
        </ul>
        <% if (!vote.voteCompleted) { %>
          <button type="submit" class="submitBtn">제출</button>
        <% } %>
      </form>
      <div class="expirationDate">
        <%
          const expirationDate = vote.voteExpirationDate.toISOString().substring(0, 16);
        %>
        <input
          type="datetime-local"
          name="voteExpirationDate"
          class="votePostExpirationDate"
          value="<%= expirationDate %>"
          readonly
        >
      </div>
    </div>
    <div class="resultContainer">
      <%
        if (!vote.voteCompleted) {
      %>
        <div class="voteResult"><%= max %></div>
      <% } %>
    </div>
    <button
      type="button"
      class="backBtn"
      onclick="location.href='/'"
    >
      취소
    </button>
    <%
      if (isSameUser) {
    %>
      <button
        type="submit"
        class="removeBtn"
        onclick="location.href='/votings/delete/<%= vote._id %>'"
      >
        삭제
      </button>
    <% } %>
  </article>
<%-include("./includes/footer.ejs") %>
